body {
    margin: 0;
    background: #1a0026;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background: #2d0047;
    padding: 20px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-area button {
    padding: 8px 20px;
    background: #8a2be2;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
#login-area button:hover {
    background: #a45bff;
}

.container {
    max-width: 900px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

img {
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
}

.btn {
    background: #8000ff;
    padding: 15px 40px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}
.btn:hover {
    background: #a64dff;
    transform: scale(1.05);
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: #2d0047;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}
.popup-box button {
    padding: 10px 25px;
    margin-top: 15px;
    background: #9c44ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
/* PROFILE MENU */
.profile-menu{
  position:absolute;
  top:70px;
  right:22px;
  width:160px;
  background:#1f1330;
  padding:12px;
  border-radius:10px;
  box-shadow:0 6px 18px rgba(0,0,0,.6);
  display:none;
  animation:fade .25s ease;
}

.profile-menu button{
  width:100%;
  padding:10px;
  background:#ff5577;
  border:none;
  border-radius:8px;
  color:white;
  font-weight:700;
  cursor:pointer;
}
